html-template/*
bin*/*
bin/*
doc/*
docs/*
obj/*
dist/*
report/*


.settings/*
.actionScriptProperties
.flexProperties
.flexLibProperties
.FlexUnitSettings
.project
.sourceMate*
/*.swc.cache
build.*

Icon
Thumbs.db
.DS_Store
